label {
  font-size: 300%;
}

.container {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

#display {
  width: 100%;
  text-align: right;
}

.op, .cl, .dp {
  width: 15.45%;
}

.dig {
  width: 32.2%;
}